---
import Navbar from "../components/Navbar.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Gustador de Pepinos - Guiño Guiño"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/xml" href="../public/favicon.svg" />
    <title>Landing Page - Dot Dager</title>
  </head>
  <body>
    <main>
      <Navbar />
    </main>
  </body>
</html>
