---
import Slide from "../components/Slider";
---

<section class="flex flex-col md:flex-row items-center justify-center mx-auto max-w-screen-full bg-green-800 bg-opacity-75">
  <!-- Contenedor de imagen -->
  <div class="flex justify-center items-center p-4 flex-grow">
    <img
      src="/images/pepino_man.png"
      alt="Pepino Man"
      class="object-contain max-w-full h-auto"
    />
  </div>

  <!-- Contenedor de texto -->
  <div class="text-center p-4 flex items-center justify-center flex-grow md:flex-grow-0">
    <Slide client:only="react" interval={5000} className="text-white text-center" />
  </div>
</section>
